*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #383636;
    --secondary-color: #e6e6e6;
    --tertiary-color:#fcfaf7;
    --complementary-color:#a9cf54;
    --font-family-titles: Montserrat, 
        'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    --font-family-texts: Poppins,
        'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
}

h1, h2, h3, li, a{
    font-family: var(--font-family-titles);
}

p{
    font-family: var(--font-family-texts);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 90px;
    width: 100%;
}

nav .logo img{
    height: 70px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo p{
    font-weight: 800;
    color: var(--secondary-color);
    font-size: 27px;
}


li{
    list-style: none;
    color: var(--tertiary-color);
}

a{
    text-decoration: none;
}

.navbar li:hover,
.navbar a:hover{
    border-bottom: solid 2px #fcfaf7;
}

.menu-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--tertiary-color);
    padding: 25px;
    margin: 10px;
    gap: 30px;
}

.menu-links a{
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 18px;
}

#about-us{
    height: 65vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background-color: var(--secondary-color);
    padding: 30px;
    border-bottom: solid 2px var(--primary-color);
}

.about-text{
    width: 40%;
}

.about-text h1{
    font-size: 24px;
    text-align: center;
    padding: 12px;
}

.about-text p{
    padding: 14px;
    text-align: justify;
}

#about-us img{
    width: 30em;
    height: auto;
}

#categories,
#products {
    background-color: var(--tertiary-color);
    border-bottom: solid 2px var(--primary-color);
    height: 55vh;
    width: 100%;
}

.categories-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 30px;
    margin: 0 20px;
    height: 330px;
    justify-content: space-between;
}

.categories-items-card{
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 7px 10px 23px -6px rgba(0, 0, 0, 0.87);
    position: relative;
    /* width: 15em; */
}

.categories-items-card h4 {
    position: absolute;
    color: var(--primary-color);
    bottom: 0px;
    right: 70px;
    text-transform: uppercase;
    font-size: 18px;
}

.categories-items-card img,
.products-items-cards img{
    width: 15em;
    justify-items: center;
}

.categories-items-card h4:hover{
    transition: scale 500ms ease-in;  
    transform: scale(1.3);
}

.categories-items-card img:hover{
    opacity: 0.3;
    transition: opacity 500ms ease;
}

#products{
    min-height: 150vh;
    padding: 20px;
}

.products-title h2{
    text-align: center;
    color: var(--primary-color);
}

.products-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 30px;
    margin: 0 20px;
}

.products-items-cards{
    background-color: var(--secondary-color);
    border-radius: 5px;
    width: 15em;
    min-height: 370px;
    cursor: pointer;
}

article:hover{
    box-shadow: 9px 8px 17px 0px rgba(189, 189, 189, 0.75);
    -webkit-box-shadow: 9px 8px 17px 0px rgba(189, 189, 189, 0.75);
    -moz-box-shadow: 9px 8px 17px 0px rgba(189, 189, 189, 0.75);
}

.products-items-cards img {
    width: 15em;
    padding: 15px;
}

.napoli-jersey-img, .barcelona-short-img{
    height: 241px;
    width: auto;
}

.item-name{
    color: var(--primary-color);
    margin: 0 10px;
    font-size: 16px;
}

.item-price{
    color: var(--primary-color);
    font-size: 23px;
    padding: 10px;
}

.products-items-cards span{
    font-size: 12px;
    text-decoration: line-through;
    color: var(--complementary-color);
}

#products button,
#contact button{
    border: none;
    padding: 10px 25px;
    width: 95%;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--complementary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-evenly;
}

#products button:hover,
#contact button:hover{
    transform: scale(1.03);
    transition: all 500ms ease;
    box-shadow: 3px 4px 9px -1px rgba(148, 194, 49, 0.75);
        -webkit-box-shadow: 3px 4px 9px -1px rgba(148, 194, 49, 0.75);
        -moz-box-shadow: 3px 4px 9px -1px rgba(148, 194, 49, 0.75);
    color: var(--tertiary-color);
}

#contact {
    height: 80vh;
    background-color: var(--secondary-color);
    padding: 20px;
}

.contact-title {
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 70%;
    padding: 30px;
    margin: auto;
}

form * {
    display: block;
    width: 100%;
    margin: 10px 0;
    border: none;
    outline: none;
}

form input,
textarea {
    border: 1px solid var(--complementary-color);
    padding: 5px;
    border-radius: 5px;
}

#contact button{
    width: 70%;
    margin: 10px auto;
}

.skewed {
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 250px;
    background-color: var(--primary-color);
    z-index: 0;
    transform: skewY(4deg);
    transform-origin: bottom right;
}

footer{
    background-color: var(--secondary-color);
    position: relative;
}

.footer-info{
    position: relative;
    bottom: 20px;
    color: var(--tertiary-color);
    margin: 10px;
    padding: 10px;
}

.footer-info h3{
    margin-bottom: 10px;
}

.footer-info p{
    margin: 10px 0;
}

footer a{
    color: var(--secondary-color);
}

footer a i{
    color: var(--complementary-color);
}

.whatsapp-btn{
    font-size: 70px;
    color: var(--complementary-color);
    position: absolute;
    right: 15px;
    bottom: 105px;
}

.whatsapp-btn:hover{
    animation: shake infinite alternate 500ms ease-in;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    
    25% {
        transform: translateX(-3px);
    }

    50% {
        transform: translateX(3px);
    }

    75% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 880px){
    #about-us{
        gap: 15px;
    }
    
    .about-text {
        width: 50%;
    }
    
    #about-us img {
        width: 23em;
        height: auto;
    }

    #categories{
        min-height: 120vh;
    }

    .categories-cards, 
    .products-cards{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    #products{
        min-height: 320vh;
    }
}

@media (max-width: 480px){
    #about-us{
        min-height: 120vh;
        flex-direction: column-reverse;
        justify-content: center;
        
    }
    
    .about-text {
        width: 80%;
        /* border: solid 1px #383636; */
        box-shadow: 9px 8px 17px 0px rgba(189, 189, 189, 0.75);
            -webkit-box-shadow: 9px 8px 17px 0px rgba(189, 189, 189, 0.75);
            -moz-box-shadow: 9px 8px 17px 0px rgba(189, 189, 189, 0.75);
    }
    
    #about-us img {
        width: 65%;
        height: auto;
        margin-left: 70px;
        box-shadow: 9px 8px 17px 0px rgba(189, 189, 189, 0.75);
            -webkit-box-shadow: 9px 8px 17px 0px rgba(189, 189, 189, 0.75);
            -moz-box-shadow: 9px 8px 17px 0px rgba(189, 189, 189, 0.75);

    }

    #categories{
        min-height: 200vh;
    }

    .categories-cards, 
    .products-cards{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #products{
        min-height: 600vh;
    }

    form {   
        width: 85%;
    }
    
    .footer-info {
        top: -120px;
    }    
}
