*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #383636;
    --secondary-color: #e6e6e6;
    --tertiary-color:#fcfaf7;
    --complementary-color:#a9cf54;
    --font-family-titles: Montserrat, 
        'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    --font-family-texts: Poppins,
        'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
}

h1, h2, li, a{
    font-family: var(--font-family-titles);
}

p{
    font-family: var(--font-family-texts);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 90px;
    width: 100%;
}

nav .logo img{
    height: 70px;
}

li{
    list-style: none;
    color: var(--tertiary-color);
}

.navbar li:hover,
.navbar a:hover{
    border-bottom: solid 2px #fcfaf7;
}

.menu-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--tertiary-color);
    padding: 25px;
    margin: 10px;
    gap: 30px;
}

.menu-links a{
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 18px;
}

#about-us{
    height: 65vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background-color: var(--secondary-color);
    padding: 30px;
    border-bottom: solid 2px var(--primary-color);
}

.about-text{
    width: 40%;
}

.about-text h1{
    font-size: 24px;
    text-align: center;
    padding: 12px;
}

.about-text p{
    padding: 14px;
    text-align: justify;
}

#about-us img{
    width: 30em;
    height: auto;
}

#categories {
    background-color: var(--tertiary-color);
    border-bottom: solid 2px var(--primary-color);
    height: 55vh;
    width: 100%;
}

.categories-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 30px;
    margin: 0 20px;
    height: 330px;
}

.categories-items-card {
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 7px 10px 23px -6px rgba(0, 0, 0, 0.87);
    position: relative;
    width: 15em;
}

.categories-items-card h4 {
    position: absolute;
    color: var(--primary-color);
    bottom: 0px;
    right: 70px;
    text-transform: uppercase;
    font-size: 18px;
}

.categories-items-card img {
    width: 15em;
    justify-items: center;
}

.categories-items-card h4:hover{
    transition: scale 500ms ease-in;  
    transform: scale(1.3);
}

.categories-items-card img:hover{
    opacity: 0.3;
    transition: opacity 500ms ease;
}
